{{ $.Scratch.Add "labelClasses" "f6 b db mb1 mt3 sans-serif mid-gray" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 pv3 ph3 bg-light-gray bn" }}




<form method="post" action="http://www.d1012195.mydomainwebhost.com/apps/FormMail/FormMail.pl">
<input type="hidden" name="recipient" value="3" />
To contact us please enter you query below and don't forget to include your email address or phone number so we can get back to you.  <p>If you are wanting to make a booking or check availabily please make sure you include dates and the number of people wishing to stay<br /><br />

Your name:<br><input type="text" name="realname"><br><br>
Your email:<br><input type="text" name="email"><br><br>
<textarea name="comments" rows="15" cols="50">
</textarea> 
<br>
<input type="submit" />
</form>

<form method="post" name="Contact">
	<labelabel for=Name">Name</label>
	<br>
	<input type="text" id="fname" name="fname" placeholder="Firstname Lastname">
	<br><br>
	<label for="email">EMail</label>
	<br>
	<input type="text" id="email" name="email" placeholder="mail@example.com">
	<br><br>
	<label for="Message">EMail</label>
	<br>
	<textarea id="message" name="message" placeholder="your messages" style="height:200px"></textarea>
	<br><br>
	<input type="submit" value="Submit"style="">
</form>